:root {
  --color-background: #08020e;
  --color-text-primary: #f2f3f7;
  --color-text-secondary: #ffffff;
  --color-text-accent: #c4b5fd;
  --color-primary: #8c52ff;
  --color-primary-dark: #7c3aed;
  --color-primary-light: #8b5cf6;
  --color-surface-dark: #0a0a0a;
  --color-surface-light: rgba(196, 181, 253, 0.2);
  --color-border: #f2f3f7;
  --color-border-dark: #292929;
  --font-main: 'Inter', sans-serif;
}
