.site-footer {
  background-color: var(--color-surface-dark);
  padding: 64px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.footer-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-col:first-child {
  max-width: 320px;
}

.footer-logo img {
  width: 120px !important; /* <-- CAMBIO DEFINITIVO AQUÃ */
  height: auto;
}

.footer-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

.copyright {
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
}

.footer-col h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}

.footer-col ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-col ul a {
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .footer-container {
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 40px 30px;
  }
  .footer-col {
      flex-basis: 45%;
  }
  .footer-col:first-child {
      flex-basis: 100%;
      margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .footer-col {
      flex-basis: 100%;
  }
}
