.site-header {
  padding-top: 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(242, 243, 247, 0.2);
  border-radius: 40px;
  padding: 15px 27px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.logo img {
  width: 136px;
  height: 30px;
}

.main-nav {
  display: flex;
  align-items: center;
  gap: 35px;
}

.main-nav a {
  font-size: 17px;
  font-weight: 500;
}

.auth-links {
  display: flex;
  align-items: center;
  gap: 25px;
}

.auth-links a {
  font-size: 17px;
  font-weight: 500;
}

.register-btn {
  background-color: var(--color-primary-light);
  padding: 6px 24px;
  border-radius: 40px;
}

@media (max-width: 768px) {
  .header-container {
      flex-direction: column;
      gap: 15px;
  }
  .main-nav {
      gap: 20px;
  }
}
