.plans-section {
  padding-bottom: 200px; /* Espaciado normalizado */
}

.plans-container {
  display: flex;
  justify-content: center;
  gap: 32px; /* Espacio reducido */
  align-items: flex-start;
}

.plan-card {
  background-color: var(--color-surface-dark);
  border: 1px solid var(--color-border);
  border-radius: 16px; /* Borde más pronunciado */
  padding: 32px;
  display: flex;
  flex-direction: column;
  max-width: 360px; /* Ancho ajustado */
  width: 100%;
}

.plan-card.pro {
  border-color: var(--color-primary-dark);
  transform: scale(1.05); /* Hacemos que el plan pro resalte más */
}

.plan-title {
  font-size: 20px; /* Título más grande */
  font-weight: 500;
  text-align: center;
  margin-bottom: 24px;
}

.plan-price {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 32px;
}

.price-amount {
  font-size: 42px; /* Tamaño de precio ajustado */
  font-weight: 700;
}

.plan-features {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Espacio entre features reducido */
  width: 100%;
  margin-bottom: 32px;
}

.plan-features li {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  font-size: 16px;
  font-weight: 400;
}

.plan-features li img {
  width: 20px; /* Iconos de check más pequeños */
  height: 20px;
  flex-shrink: 0;
}

.feature-bold {
  font-weight: 700;
}

.plan-cta {
  background-color: #1a1a1a;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  padding: 12px 24px; /* Padding ajustado */
  width: 100%;
  text-align: center;
  font-size: 16px; /* Tamaño de fuente ajustado */
  font-weight: 500;
  margin-top: auto;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.plan-cta:hover {
  background-color: #333;
}

.pro-cta {
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
  color: var(--color-text-primary);
}
.pro-cta:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

@media (max-width: 1300px) {
  .plans-container {
      flex-direction: column;
      align-items: center;
      gap: 32px;
  }
  .plan-card {
      width: 100%;
      max-width: 450px;
  }
  .plan-card.pro {
    transform: scale(1); /* Quitamos el efecto de escala en móvil */
  }
}
